:root {
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --background-color: #ffffff;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --footer-text-color: #2f303a;
  --svg-color: #afb1b8;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --font-family: Roboto, sans-serif;
  --overlay-background: rgba(33, 150, 243, 0.9);
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/imghero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/imghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 1px solid var(--text-color-main);
}

@media screen and (max-width: 480px) {
  .hero-img {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imgmobile/imgheromobile1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgmobile/imgheromobile1x.jpg");
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imgmobile/imgheromobile2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgmobile/imgheromobile2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero-img {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imgtabl/imgherotabl1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgtabl/imgherotabl1x.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imgtabl/imgherotabl2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgtabl/imgherotabl2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero-img {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/imgherodask1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/imgherodask1x.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Imgherodask2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Imgherodask2x.jpg");
  }
}

.hero-page__btn {
  cursor: pointer;
}

.hero-page__btn {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-page__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .hero-page__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 479px) {
  .hero-page__title {
    font-size: 23px;
  }
}

.hero-page__btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function);
  width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-page__btn:hover, .hero-page__btn:focus {
  background-color: var(--accent-btn-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-info {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.adventages {
  width: 100%;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .adventages {
    max-width: 354px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .adventages {
    max-width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item:not(:last-child) {
  margin-right: 30px;
}

.title-text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.item-text {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-info__benefits {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .list-info__benefits:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-info__benefits:not(:last-child) {
    margin-right: 30px;
  }
}

.title-text__info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  .title-text__info {
    max-width: 450px;
    color: var(--text-color-secondary);
  }
}

@media screen and (min-width: 768px) {
  .title-text__info {
    max-width: 354px;
    color: var(--text-color-secondary);
  }
}

@media screen and (min-width: 1200px) {
  .title-text__info {
    max-width: 270px;
    color: var(--text-color-secondary);
  }
}

@media screen and (max-width: 767px) {
  .title-text {
    text-align: center;
  }
}

.img-list {
  position: relative;
}

.img-list:not(:last-child) {
  margin-right: 30px;
}

.thumb-product {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb-product__list {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.section-heading {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-heading {
    display: none;
  }
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__title-hedding {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-img {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-img {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-img {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-img {
    width: calc(100% / 4 - 30px);
  }
}

.team-img-source {
  width: 100%;
}

.icon-list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.icon-list-team {
  width: 44px;
  height: 44px;
}

.icon-list-team:not(:last-child) {
  margin-right: 10px;
}

.icon-list-team__icon-list {
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background-color);
  color: var(--svg-color);
  -webkit-transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function);
}

.icon-list-team__icon-list:hover, .icon-list-team__icon-list:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.icon-list-team__svg {
  fill: currentColor;
}

.item-text-box {
  padding: 30px 32px;
}

.title-team_team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .title-team_team {
    font-size: 28px;
    line-height: 1.17;
  }
}

.team__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 10px;
  text-align: center;
}

.team__info {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
  text-align: center;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.heading-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .heading-clients {
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .heading-clients {
    margin-bottom: 50px;
  }
}

.clients-list-text {
  margin: 15px;
  width: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients-list-text {
    width: calc(100% / 3 - 30px);
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-list .title-hedding {
  margin-bottom: 50px;
}

.clients-list-text__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--svg-color);
  -webkit-transition: border-color, color var(--animation-duration) var(--timing-function);
  transition: border-color, color var(--animation-duration) var(--timing-function);
}

.clients-list-text__icon:hover, .clients-list-text__icon:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list-text__icon {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-text__icon {
    max-width: 170px;
  }
}

.clients-list-text__svg {
  width: 100%;
  fill: currentColor;
}

.portfolio-btn__list-text {
  cursor: pointer;
  padding: 6px 22px;
}

@media screen and (max-width: 1199px) {
  .item-btn {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .item-btn {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .btn-all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .btn-all {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-all {
    margin-bottom: 50px;
  }
}

.portfolio-btn {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-btn {
    margin-top: 15px;
  }
}

.portfolio-btn:last-child {
  margin-right: 0;
}

.portfolio-btn__list-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  -webkit-transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function), -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function), -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function), box-shadow var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function), color var(--animation-duration) var(--timing-function), box-shadow var(--animation-duration) var(--timing-function), -webkit-box-shadow var(--animation-duration) var(--timing-function);
  border: none;
  border-radius: 4px;
}

.portfolio-btn__list-text:hover, .portfolio-btn__list-text:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn__list-text--current {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.item-btn .portfolio-btn__list-text:hover,
.portfolio-btn__list-text:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.portfolio-list__work {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-list-link__portfolio-img {
  display: block;
}

.portfolio-list-link__work-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--background-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
}

.portfolio-list__work:hover .portfolio-list-link__work-text,
.portfolio-list__work:focus .portfolio-list-link__work-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__work:hover,
.portfolio-list__work:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: box-shadow var(--animation-duration) var(--timing-function);
  transition: box-shadow var(--animation-duration) var(--timing-function), -webkit-box-shadow var(--animation-duration) var(--timing-function);
}

.portfolio-img-source {
  width: 100%;
}

.container-item-title {
  margin-left: 0;
  margin-right: 0;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-text-box {
  padding: 20px 24px;
}

@media screen and (max-width: 1199px) {
  .portfolio-img {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-img {
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-img {
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-list {
    margin: 15px;
    width: 450px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-img-source {
    width: 370px;
  }
}

.portfolio-list-link {
  position: relative;
  overflow: hidden;
}

.portfolio-text-box__portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-text-box__portfolio-item {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.hero-modal {
  padding: 40px;
  max-width: 528px;
  width: 100%;
  height: 581px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
}

@media screen and (max-width: 1199px) {
  .hero-modal {
    max-width: 450px;
    height: 609px;
    width: 100%;
  }
}

.hero-modal__modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: fill var(--animation-duration) var(--timing-function);
  transition: fill var(--animation-duration) var(--timing-function);
}

.hero-modal__modal-close:hover, .hero-modal__modal-close:focus {
  fill: var(--accent-color);
}

.hero-modal__modal-close {
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero-modal__modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  margin-bottom: 12px;
}

.input-text::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.input-text:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.input-text::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.input-text::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.user-name-box {
  margin-bottom: 10px;
}

.svg-input {
  position: relative;
}

.svg-input__input-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}

.svg-input__modal-input {
  width: 448px;
  max-width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: fill var(--animation-duration) var(--timing-function), border-color var(--animation-duration) var(--timing-function);
  transition: fill var(--animation-duration) var(--timing-function), border-color var(--animation-duration) var(--timing-function);
}

.svg-input__modal-input:focus {
  border-color: var(--accent-color);
  border-width: 2px;
}

.svg-input__modal-input:focus + .svg-input__input-icon {
  fill: var(--accent-color);
}

.user-name-checkbox__textarea-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-top: 16px;
  padding-left: 12px;
  resize: none;
}

.user-name-checkbox__textarea-text:focus {
  border-color: var(--accent-color);
}

.user-name-checkbox__textarea-text::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-name-checkbox__textarea-text:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-name-checkbox__textarea-text::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-name-checkbox__textarea-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-name-checkbox__textarea-text {
  outline: none;
}

.user-name-box__label-text {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.user-name-box__label-tel {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.user-name-box__label-email {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.user-name-checkbox__textarea {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
  margin-bottom: 4px;
}

.user-name-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.user-name-checkbox {
  margin-bottom: 20px;
}

.user-name-check__label-check {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.user-name-check__label-check span {
  color: var(--accent-color);
}

.user-name-check__modal-check:checked + .user-name-check__checkbox-check {
  fill: var(--background-color);
  background-color: var(--accent-color);
  border: transparent;
}

.user-name-check__modal-check:focus-visible + .user-name-check__checkbox-check {
  border: 2px solid var(--accent-color);
}

.user-name-check__checkbox-check {
  border: 2px solid var(--text-color-main);
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: fill var(--animation-duration) var(--timing-function), background-color var(--animation-duration) var(--timing-function), border-color var(--animation-duration) var(--timing-function);
  transition: fill var(--animation-duration) var(--timing-function), background-color var(--animation-duration) var(--timing-function), border-color var(--animation-duration) var(--timing-function);
  fill: transparent;
  background-color: transparent;
}

.button-subscription-submit {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: block;
  -webkit-transition: background-color var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function);
  -webkit-transition: -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--animation-duration) var(--timing-function);
  transition: box-shadow var(--animation-duration) var(--timing-function);
  transition: box-shadow var(--animation-duration) var(--timing-function), -webkit-box-shadow var(--animation-duration) var(--timing-function);
}

.button-subscription-submit:hover, .button-subscription-submit:focus {
  background-color: var(--accent-btn-color);
}

.footer-list {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container__color {
  color: var(--background-color);
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-container__logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-container__logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container__logo {
    text-align: center;
  }
}

.logo-accent {
  color: var(--text-color-main);
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.logo-accent:hover, .logo-accent:focus {
  color: var(--accent-color);
}

.footer-info {
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-info {
    text-align: left;
  }
}

.footer-info__address {
  display: block;
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-info__address {
    margin-bottom: 9px;
    display: block;
  }
}

.footer-info__mail {
  display: block;
  margin-bottom: 9px;
}

.footer-info__address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.footer-info__address-footer:hover, .footer-info__address-footer:focus {
  color: var(--accent-color);
}

.footer-info__mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.footer-info__mail-footer:hover, .footer-info__mail-footer:focus {
  color: var(--accent-color);
}

.footer-info__tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.footer-info__tel-footer:hover, .footer-info__tel-footer:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .icon-footer {
    margin-top: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .icon-footer {
    margin-left: 70px;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    margin-bottom: 60px;
  }
}

.subscription {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 0;
  }
}

.icon-footer__heading-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .icon-footer__heading-footer {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) {
  .icon-footer__heading-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .icon-footer__heading-footer {
    text-align-last: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-icon-list-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
  }
}

@media screen and (min-width: 767px) {
  .footer-icon-list-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-icon-list-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-icon-list__social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function);
}

.footer-icon-list__social:hover, .footer-icon-list__social:focus {
  background-color: var(--accent-color);
}

.footer-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon-list:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-list__footer-svg {
  fill: var(--background-color);
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .subscription__title {
    text-align: center;
  }
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  display: block;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .subscription-form__input {
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
  }
}

.subscription-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color var(--animation-duration) var(--timing-function);
  transition: background-color var(--animation-duration) var(--timing-function);
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .subscription-form__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form__button {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}

.subscription-form__button:hover, .subscription-form__button:focus {
  background-color: var(--accent-btn-color);
}

.subscription-form__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input-text {
  display: block;
  color: var(--background-color);
}

.nav-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .nav-header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .nav-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-header__logo {
    padding-top: 24px;
    padding-bottom: 23px;
  }
}

.nav-header__logo--accent {
  color: var(--text-color-main);
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.nav-header__logo--accent:hover, .nav-header__logo--accent:focus {
  color: var(--accent-color);
}

.site-nav-list__mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.site-nav-list__mail:hover, .site-nav-list__mail:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav-list__mail {
    padding-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list__mail {
    padding: 32px 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-list__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-mobile-menu__menu-close {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-mobile-menu__menu-close {
    display: none;
  }
}

.icon-tel-one {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

@media screen and (max-width: 767px) {
  .icon-tel-one {
    display: none;
  }
}

.icon-tel-one:hover,
.icon-tel-one:focus,
.icon-mail-one:hover,
.icon-mail-one:focus {
  color: var(--accent-color);
}

.icon-mail-one {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .icon-mail-one {
    display: none;
  }
}

.site-nav-list__tel {
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.site-nav-list__tel:hover, .site-nav-list__tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav-list__tel {
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list__tel {
    padding: 32px 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-list__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 479px) {
  .site-nav-list__tel {
    font-size: 24px;
  }
}

.contact-text-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.contact-text-list:hover, .contact-text-list:focus {
  color: var(--accent-color);
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav-right {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 48px 40px;
    background-color: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform var(--animation-duration) var(--timing-function);
    transition: -webkit-transform var(--animation-duration) var(--timing-function);
    transition: transform var(--animation-duration) var(--timing-function);
    transition: transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
  }
}

@media screen and (min-width: 768px) {
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.js-menu-container.is-open .nav-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-menu-container.is-open .header-mobile-menu__menu-close {
  display: block;
}

.js-menu-container .header-mobile-menu__menu-close {
  display: none;
}

.header-mobile-menu__menu-open {
  display: block;
}

.js-menu-container.is-open .header-mobile-menu__menu-open {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list-contact:last-child {
    margin-left: 30px;
  }
}

.header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-box {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-list {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-list:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav-list:not(:last-child) {
    margin-left: auto;
  }
}

.site-nav-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
  padding: 32px 0;
  -webkit-transition: color var(--animation-duration) var(--timing-function);
  transition: color var(--animation-duration) var(--timing-function);
}

.site-nav-list__link:hover, .site-nav-list__link:focus {
  color: var(--accent-color);
}

.site-nav-list__link--current {
  color: var(--accent-color);
}

.site-nav-list__link--current::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
  background: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav-list__link {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.header-mobile-menu__menu-open,
.header-mobile-menu__menu-close {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-mobile-menu__menu-open,
  .header-mobile-menu__menu-close {
    background-color: transparent;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .header-mobile-menu__menu-open,
  .header-mobile-menu__menu-close {
    display: none;
  }
}

.menu-socials {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .menu-socials {
    display: none;
  }
}

.menu-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.menu-socials__link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */