:root {
	--accent-color: #2196f3;
	--accent-btn-color: #188ce8;
	--background-color: #ffffff;
	--text-color-main: #212121;
	--text-color-secondary: #757575;
	--footer-text-color: #2f303a;
	--svg-color: #afb1b8;
	--box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	--font-family: Roboto, sans-serif;
	--overlay-background: rgba(33, 150, 243, 0.9);

	--animation-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
