.site-nav-list__mail {
	padding-top: 21px;
	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-secondary);

	display: flex;
	align-items: center;
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 1200px) {
		padding: 32px 0;
		margin-bottom: 0;
	}
}
.nav-text {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
	}
}

.contact-text {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.header-mobile-menu__menu-close {
	margin-left: auto;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.icon-tel-one {
	margin-right: 10px;
	transition: color var(--animation-duration) var(--timing-function);
}

.icon-mail-one:hover,
.icon-mail-one:focus {
	color: var(--accent-color);
}
.icon-mail-one {
	fill: currentColor;
}

.icon-mail-one {
	margin-right: 10px;
}

.site-nav-list__tel {
	padding-bottom: 21px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-secondary);

	display: flex;
	align-items: center;

	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 1200px) {
		padding: 32px 0;
		margin-bottom: 0;
	}
}

.icon-tel-one {
	fill: currentColor;
}

.contact-text-list {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-secondary);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
