.footer-list {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}
.footer-container__color {
	color: var(--background-color);
}

.footer-flex {
	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}

.footer-wrap {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		align-items: baseline;

		justify-content: space-around;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;

		justify-content: space-between;
	}
}
.footer-container__logo {
	@media screen and (max-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		text-align: center;
	}

	display: block;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);

	margin-bottom: 20px;
}

.logo-accent {
	color: var(--text-color-main);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-info {
	font-style: normal;
	text-align: center;
	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.footer-info__address {
	display: block;
	margin-bottom: 9px;
	@media screen and (min-width: 1200px) {
		margin-bottom: 9px;
		display: block;
	}
}

.footer-info__mail {
	display: block;
	margin-bottom: 9px;
}

.footer-info__address-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--background-color);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-info__mail-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-info__tel-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.icon-footer {
	@media screen and (min-width: 768px) {
		margin-top: 0;
		margin-right: 0;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 70px;
		height: 80px;
	}
}

.subscription {
	margin-top: 60px;

	@media screen and (min-width: 1200px) {
		margin-top: 0;
	}
}

.icon-footer__heading-footer {
	@media screen and (max-width: 767px) {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;
	}
	@media screen and (min-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 1200px) {
		text-align-last: left;
	}
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--background-color);
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-icon-list-svg {
	@media screen and (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
	}
	@media screen and (min-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

// .footer-icon-list-svg {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// }

.footer-icon-list__social {
	width: 44px;
	height: 44px;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(255, 255, 255, 0.1);

	transition: background-color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.footer-icon-list {
	display: flex;
	&:not(:last-child) {
		margin-right: 10px;
	}
}

.footer-icon-list__footer-svg {
	fill: var(--background-color);
}
.subscription__title {
	display: block;

	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--background-color);
	text-transform: uppercase;

	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}

.subscription-form__input {
	@media screen and (max-width: 1199px) {
		max-width: 450px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
	}
	width: 358px;
	height: 50px;

	padding-left: 16px;
	display: block;
	background: #2f303a;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
}

.subscription-form__button {
	@media screen and (max-width: 767px) {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--background-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color var(--animation-duration) var(--timing-function);

	width: 200px;
	height: 50px;
	margin-left: 12px;
	&:hover,
	&:focus {
		background-color: var(--accent-btn-color);
	}
}

.subscription-form__icon {
	margin-left: 10px;
}

.subscription-form {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-top: 20px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.input-text {
	display: block;
	color: var(--background-color);
}
