.nav-header {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}

	@media screen and (min-width: 768px) {
		// display: flex;
		// align-items: center;
	}
}

.nav-right {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav-text {
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.site-nav-list-contact:last-child {
	@media screen and (min-width: 1200px) {
		margin-left: 30px;
	}
}

.header-container {
	// display: flex;
	align-items: center;
	justify-content: space-between;

	// @media screen and (max-width: 767px) {
	// 	background-color: #fff;
	// 	background-color: violet;
	// 	width: 100%;
	// 	height: 100vh;
	// }
}

.header-box {
	border: 1px solid #ececec;
}

.site-nav {
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}

.site-nav-list {
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (max-width: 1199px) {
		margin-left: auto;
	}
	@media screen and (min-width: 768px) {
		position: relative;
	}
}

.site-nav-list:not(:last-child) {
	margin-right: 50px;
	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
}

.site-nav-list__link {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-main);

	padding: 32px 0;

	transition: color var(--animation-duration) var(--timing-function);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
	&--current {
		color: var(--accent-color);
	}
	&--current::before {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: -32px;
		background: #2196f3;
	}
}

.header-mobile-menu__menu-open,
.header-mobile-menu__menu-close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 0;

	@media screen and (max-width: 767px) {
		background-color: transparent;
		border: none;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
