.portfolio-list__work {
	display: block;
	width: 100%;
	height: 100%;
}

.portfolio-list-link__portfolio-img {
	display: block;
}

.portfolio-list-link__work-text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--background-color);
	background: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;
	height: 100%;
	transform: translateY(101%);

	transition: transform var(--animation-duration) var(--timing-function);
}

.portfolio-list__work:hover .portfolio-list-link__work-text,
.portfolio-list__work:focus .portfolio-list-link__work-text {
	transform: translateY(0);
}

.portfolio-list__work:hover,
.portfolio-list__work:focus {
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: box-shadow var(--animation-duration) var(--timing-function);
}
.portfolio-img-source {
	width: 100%;
}

.container-item-title {
	margin-left: 0;
	margin-right: 0;

	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
// .btn-all {
// 	margin-bottom: 56px;
// }

.portfolio-text-box {
	padding: 20px 24px;
}

.portfolio-img {
	@media screen and (min-width: 1200px) {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}
}
.portfolio-img {
	@media screen and (max-width: 767px) {
		background: #ffffff;
		box-sizing: border-box;
	}
	@media screen and (min-width: 768px) {
		background: #ffffff;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
	}
}
.portfolio-list {
	@media screen and (min-width: 480px) {
		margin: 15px;
		width: 450px;
		background: #ffffff;
		border: 1px solid #eeeeee;
		box-sizing: border-box;
	}

	@media screen and (max-width: 767px) {
		margin: 15px;
	}
	@media screen and (min-width: 768px) {
		margin: 15px;
		width: calc((100% - 60px) / 2);
	}
	@media screen and (min-width: 1200px) {
		width: calc((100% - 90px) / 3);
	}
}
.portfolio-img-source {
	@media screen and (min-width: 1200px) {
		width: 370px;
	}
}

.portfolio-list-link {
	position: relative;
	overflow: hidden;
}

.portfolio-text-box__portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--text-color-main);
}

.portfolio-text-box__portfolio-item {
	margin-top: 4px;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-color-secondary);
}
