.img-list {
	position: relative;
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.thumb-product {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(47, 48, 58, 0.8);
}

.thumb-product__list {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--background-color);
}

.section-heading {
	padding-bottom: 94px;
}
.section-heading {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}
.section-list {
	display: flex;
}

.services__title-hedding {
	margin-bottom: 50px;
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--text-color-main);
}
